<div class='container'>
  <div class="row">
    <div class="col homes-content">
      <h1 class="display-1">About Muscle_Map</h1>
      <p>なりたいカラダになるための情報を検索できたり、<br>おすすめのトレーニングメニュー、器具を投稿し共有できるコミュニティサイト</p>
    </div><!-- /.homes-content -->
  </div>
</div>