<div class='container'>
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-7" style="margin-top:140px">
      <h1 class="display-1 text-center">Let's Workout!</h1>
      <h5 class="text-center">理想の身体になるために、トレーニングを始めよう</h5>
      <p class="text-center" style="margin-top:120px"><%= link_to 'トレーニングを始める', root_path, class: "btn btn-primary" %></p>
    </div>
  </div>
</div>