<div class='container'>
  <div class="row">
    <div class="col homes-content">
      <h1 class="display-1">Let's Workout!</h1>
      <h4>理想のカラダになるために</h4>
      <p><%= link_to 'トレーニングを始める', menus_path, class: "btn btn-primary" %></p>
    </div><!-- /.homes-content -->
  </div>
</div>