<div class="container">
  <div class="row">
    <div class="col" style="margin-top:20px">
    <h3>会員一覧</h3>

    <table class='table'>
      <thead>
        <tr class="table-secondary">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, root_path, class: "text-dark", style: "padding: 1px; border-bottom: solid 1px black;"%></td><!-- userの詳細ページpathに変更必要 -->
            <td><%= user.email %></td>
            <td><%= user.is_deleted %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>