<div class='container'>
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-7" style="margin-top:100px">
      <h1 class="display-1 text-center">About Muscle_Map</h1>
      <p class="text-center">なりたいカラダになるための情報を検索できたり、<br>おすすめのトレーニングメニュー、器具を投稿し共有できるコミュニティサイト</p>
    </div>
  </div>
</div>