/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 共通 */
.head-margin {
  margin-top: 20px;
}

.heading-margin {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

/* users/show */
.user-table {
  margin-top: 100px;
}

.user-items {
  margin-top: 20px;
}

.item-1,
.item-3 {
  margin-left: 220px;
}

.item-2 {
  margin-left: 160px;
}

/* users/edit */
.profile_image {
  margin-top: 50px;
}

.user-profile {
  margin-top: 100px;
}

.unsubscribe-button {
  margin-left: 20px;
}