/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 共通 */
.head-margin {
  margin-top: 20px;
}

.heading-margin {
  margin-top: 20px;
}

.table {
  margin-top: 20px;
}

.form-group {
  margin-top: 20px;
}

/* homes/top/about */
.homes-content {
  margin-top: 150px;
  text-align: center;
}

/* homes/top */
.homes-content h4 {
  margin-top: 20px;
}

/* about */
.homes-content p {
  margin-top: 20px;
}

/* users/show */
.user-table {
  margin-top: 100px;
}

.user-items {
  margin-top: 20px;
}

.item-1,
.item-3 {
  margin-left: 220px;
}

.item-2 {
  margin-left: 160px;
}

/* users/edit */
.profile_image {
  margin-top: 50px;
}

.user-profile {
  margin-top: 100px;
}

.edit-unsubscribe-button {
  margin-left: 20px;
}

/* users/unsubscribe */
.unsubscribe-content {
  margin-top: 120px;
  text-align: center;
}

.unsubscribe-text {
  margin-top: 40px;
}

.unsubscribe-select-button {
  margin-top: 40px;
}

.unsubscribe-button {
  margin-left: 20px;
}

/* weights/show */
.weight-button {
  margin-left: 20px;
}

/* menus/show */
.menu-item {
  margin-left: 5px;
}

.menu-text {
  margin-top: 20px;
}

/*menus/posts/submit */
.comment-submit {
  margin-top: 10px;
}

/* post/show */
.post-item {
  margin-left: 10px;
}