<div class="container">
  <div class="row">
    <div class="col" style="margin-top:20px">
    <h3 class="d-flex justify-content-between">
      メニュー一覧
      <%= link_to "メニューを追加する", new_admin_menu_path, class:"btn btn-primary" %>
    </h3>

    <table class='table'>
      <thead>
        <tr class="table-secondary">
          <th>メニューID</th>
          <th>トレーニング名</th>
          <th>ジャンル</th>
        </tr>
      </thead>
      <tbody>
        <% @menus.each do |menu| %>
          <tr>
            <td><%= menu.id %></td>
            <td><%= link_to menu.name, admin_menu_path(menu.id), class: "text-dark", style: "padding: 1px; border-bottom: solid 1px black;"%></td>
            <td><%= menu.genre.name %></td>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>